/doc/
/generated_cpp/
/plugins/
/qtbindings/*/debug/
/qtbindings/*/release/
/qtbindings/Makefile
/qtbindings/*/Makefile
/qtbindings/*/Makefile.Debug
/qtbindings/*/Makefile.Release
/generator/.preprocessed.tmp
/qtbindings/qs_eval/qs_eval

*.log
*.o

/generator/generator
/generator/Makefile
/generator/Makefile.Debug
/generator/Makefile.Release
/generator/release/
